bin/
build/
dist/
venv/
street-signs/
logs
allowlist/
compile_scripts/PyQt6_arm64
compile_scripts/PyQt6_x86_64
compile_scripts/universal
__pycache__/
.DS_Store
crash.txt
*.mf
*.whl
Toontown Rewritten
TTRGame.vlt
settings.json

setup.py
Toontown Rewritten Custom Launcher.spec
